<li id="comment_<%=comment.id %>">
  <%= comment.body %> ,
  <%= time_ago_in_words(comment.created_at) %> ago

  <!-- 삭제 아이콘 -->
  <!-- 여기서 주목할 것은 link_to 헬퍼 메소드에서 remote: true 옵션을 사용했다는 것이다.
  이로써 comments#destroy 액션이 호출된 후 destroy.js.erb 파일을 렌더링한 후
  destroy.js 파일을 응답으로 보내게 되는 것이다. -->
  <%= link_to fa_icon("times-circle-o"), [comment.post, comment], method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
</li>